{
  "all": true,
  "include": [
    "index.js",
    "uploads/**/*.js",
    "utils/**/*.js",
    "v1/**/*.js"
  ],
  "reporter": [
    "html",
    "text-summary"
  ],
  "extension": [
    ".js"
  ],
  "exclude": [
    "node_modules",
    "**/*.test.js"
  ]
}